{% load staticfiles %}

<html>
    <head>
        <meta charset="UTF-8">
      <title>
       {% block title %}
       MeetsFactory!
       {% endblock %} 
      </title>
      {% block stylesheets %}
          <link rel="stylesheet" href="{% static 'meets/css/style.css' %}" />
      {% endblock %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      {% block javascripts %}
      {% endblock %}

      <script type = "text/javascript">
      //<!--

      function doVK(){
      var s = "https://oauth.vk.com/authorize?client_id={{ VK_APP_ID }}&" +
              "scope=12&redirect_uri=" +
              encodeURI('http://' + window.location.host + "/vk_login/") +
              "&response_type=code&v=5.16"
        alert(s);
          var authURI = s;
          var wwwref = window.open(authURI, '_parent');
          return false;
      }

      //-->
      </script>
    </head>

    <body>
   {% if need_to_login %}
<a onclick="doVK()" href = "javascript:void">Логин</a>
{% endif %}     
   {% block body %}
   {% endblock %}

    </body>
</html>
