{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<table>
    <tr><td>Название</td><td>{{e.name}}</td></tr>
    <tr><td>Время начала</td><td>{{e.begin_date|date:"l, d F, H:i"}}</td></tr>
    <tr><td>Время окончания</td><td>{{e.end_date|date:"l, d F, H:i"}}</td></tr>
    <tr><td>Количество человек</td><td>Не менее {{e.low_people_count}}, не более {{e.high_people_count}}</td></tr>
    <tr><td>Категория</td><td>{{e.category}}</td></tr>
    <tr><td>Теги</td><td>{{tags}}</td></tr>
</table>
{%if user_in %}
Вы в тусовке
{%elif not request.user%}
Залогиньтесь, чтобы присоединиться
{%else%}
<form id=event_form action="{% url 'meetfactory:add' %}" method="post"> {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Присоединиться" />
</form>
{%endif%}
{% endblock %}
