{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

    <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://maps.api.2gis.ru/1.0">
	 </script>
	
<div class = "wrapper">
	<div class = "head_title"><h3>Meet Factory</h3></div>
	<div class = "create_event">
		<div class = "create_head">
			Создание мероприятия
		</div>
		<div class = "create_form">
			<form id=event_form action="{% url 'meetfactory:event_create' %}" method="post"> {% csrf_token %}
				<label for = "name">Название мероприятия</label>
				<input type = "text" class = "name" name = "name" value = "" />
				<br />
				<br />
				<label for = "number_event">Количество участников</label>
				<input type = "text" class = "number" name = "low_people_count" placeholder = "Min" />
				<input type = "text" class = "number" name = "high_people_count" placeholder = "Max" />
				<br />
				<br />
				<label for = "begin_date">Дата/время начала</label>
				<input type = "datetime" name = "begin_date" />
				<br />
				<br />
				<label for = "end_date">Дата/время завершения</label>
				<input type = "datetime" name = "end_date"/>
				<br />
				<br />
				<label for = "money">Предположительные затраты</label>
				<input type = "text" name = "money" value = "" />
				<br />
				<br />
				<label for = "tags_event">Тэги</label>
				<input type = "text" name = "tags_event" value = "" />
				<br />
				<br />
				<label for = "reject_event">Возможен ли отказ от мероприятия</label>
				<input type = "checkbox" />
				<br />
				<br />
				<label for = "category">Категория</label>
                    {% for field in form %}
                    {% if field.name == "category"%}
                            {{ field }}
                    {% endif %}
                    {% endfor %}
				<br />
				<br />
	<div class = "map_event">
	    	<div id="map" style="width: 400px; height: 300px"></div>
	    	<br />
	    	<div class = "map_inputs">
	    		<input type = "text" class = "geo_info" class = "geo_info" placeholder = "Введите местоположение" />
	    		<button id = "geo">Найти</button>
	    		<br />
	    		<br />
	    		<label for = "desc">Описание события</label>
	    		<br />
	    		<textarea class = "description" name = "desc"></textarea>
	    	</div>
    		<div class = "list">
    			<p>Список точек</p>
				<ul>
				</ul>
			</div>
	</div>
                <input id="cnt" name="location_count" type="text" value="0"/>
               <input type = "submit" value = "Submit" />
                </form>
        </div>
    </div>
</div>
<footer><a href="profile.html">Профиль</a><a class = "create_footer" href="index.html">Создать событие</a></footer>
<script type="text/javascript" src = "{% static 'meets/js/functions.js' %}"></script>
<script type="text/javascript" src = "{% static 'meets/js/map.js' %}"></script>

{% endblock %}