{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div class = "search"><form method="get" action="{% url 'meetfactory:index' %}">
        <input class = "search_in" name="q" type = "text" placeholder = "Введите поисковый запрос" value="{{q}}"/>
        <button type = submit>Искать!</button>
        <input type="checkbox" name = "nq" {%if G.nq%}checked{%endif%}>Название
        <input type="checkbox" name = "tq" {%if G.t%}checked{%endif%}>Теги
        <input type="checkbox" name = "dq" {%if G.dq%}checked{%endif%}>Описание
        <input type="checkbox" name = "lq" {%if G.lq%}checked{%endif%}>Карта

    </form></div>
	<div class = "category">
		<ul class = "ul_list">
            {% for c in categories %}
            <li onclick="window.location.href = '?category={{c.pk}}'">{{c}}</li>
            {% endfor %}
		</ul>
	</div>
	<div class = "list_list">
        {%if el%}
        <a href = "{%url 'meetfactory:event_create'%}">Нажмите, чтобы создать событие</a>
		<table class = "u_list">
        <thead>
            <tr style = "border-bottom: 1px solid black;">
                <td>Название</td>
                <td>Количество человек</td>
                <td>Начало</td>
                <td>Конец</td>
                <td>Организатор</td>
                <td>Описание</td>
                <td>Теги</td>
                <td>Карта</td>
            </tr>
        </thead>

        <tbody>
        {% for e in el %}
            <tr class = "ul_list_li">
                <td onclick = "window.location.href = 'events?id={{e.id}}'">
                    <a href = "/">
                        {{e.name}}
                    </a>
                </td>
                    <td onclick = "window.location.href = 'events?id={{e.id}}'">{{ e.low_people_count }}/{{ e.high_people_count }}</td>
                    <td onclick = "window.location.href = 'events?id={{e.id}}'">{{ e.begin_date }}</td>
                    <td onclick = "window.location.href = 'events?id={{e.id}}'">{{ e.end_date }}</td>
                    <td onclick = "window.location.href = 'events?id={{e.id}}'">{{ e.creator.first_name }} {{ e.creator.last_name}}</td>
                    <td onclick = "window.location.href = 'events?id={{e.id}}'">{{ e.desc }}</td>
                <td onclick = "window.location.href = 'events?id={{e.id}}'">
                    {% for t in e.tags.all%}
                        #{{t.name}}
                    {% endfor %}
                </td>
                <td onclick = "window.location.href = 'events?id={{e.id}}'">{{e.location}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {%else%}
        Событий нет! {%if cat%}Выберите другую категорию
        {%else%}Вы можете <a href = "{%url 'meetfactory:event_create'%}">создать своё</a>{%endif%}
        {%endif%}


	</div>
	
<script type="text/javascript" src = "{% static 'meets/js/functions.js' %}"></script>
<script type="text/javascript" src = "{% static 'meets/js/map.js' %}"></script>

{% endblock %}
