{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<div class = "wrapper">
	<div class = "head_title"><h3>Meet Factory</h3></div>
	<div class = "content">
		<div class = "avatar"><img src="{{ u.userpic }}" ></div>
		<div class = "info">
			<p class = "title_profile">Профиль</p>
			<p>Имя<span class = "field name">{{u.first_name}}</span></p>
			<p>Фамилия<span class = "field surname">{{u.last_name}}</span></p>
			<p>Дата рождения<span class = "field birthday">13 мая</span></p>
			<p>Родной город<span class = "field city">Владивосток</span></p>
			</div>
	</div>
</div>
<footer><a href="{% url 'meetfactory:profile' %}">Профиль</a>
	<a class = "create_footer" href="{% url 'meetfactory:event_create'%}">Создать событие</a>
</footer>

{% endblock %}