body {
	font: 13px Verdana;
	background: #f1f2f3;
	color: #717870;
	margin: 0;
	font-size: 14pt;
}


.wrapper {
	max-width: 960px;
	margin: auto;
	height: auto !important;
    min-height: 100%;
}
/* Style of Create Event Form*/
div.head_title{
	margin-top: 20px;
	color: #717870;
	font-size: 22pt;
}

div.create_event {
	float: left;
	width: 500px;
}

div.map_event {
	float: right;
}

.name_event {
	margin-top: 10px;
}

.number {
	width: 50px;
}

.geo_info {
	width: 200px;
}

.create_head {
	color: #8aa372;
	font-size: 24pt;
}

.list {
	text-align: center;
}

ul {
	font-size: 10pt;
}

.map_inputs {
	text-align: center;
}

li {
	list-style-type: none;
	margin-left: 0;
}

a {
	text-decoration: none;
	color: #717870;
}

a.del {
	margin-left: 20px;
}
<<<<<<< HEAD
/* END Style of Create Form */
.content {
	width: 600px;
}
.avatar {
	float: left;
	margin: 0;
}

.info {
	float: right;
	margin: 0;
}

.field {
	float: right;
	margin-left: 60px;
	color: #645e59;
	font-size: 14pt;
}

p.title_profile {
	color: #a8a099;
	font-size: 24pt;
	margin-top: -20px;
}

p {
	color: #a8a099;
	font-size: 14pt;
}
/* END Style of Create Form */

footer {
	top: 10px;
	right: 10px;
	position: absolute;
	margin-right: 0px;
	text-align: right;
}

.create_footer {
	margin-left: 20px;
}