body {
	font: 13px Verdana;
	background: #f1f2f3;
	color: #717870;
	margin: 0;
	font-size: 14pt;
}


.wrapper {
	max-width: 960px;
	margin: auto;
	height: auto !important;
    min-height: 100%;
}
/* Style of Create Event Form*/
div.head_title{
	margin-top: 20px;
	color: #717870;
	font-size: 22pt;
}

div.create_event {
	float: left;
	width: 500px;
}

div.map_event {
	float: right;
}

.name_event {
	margin-top: 10px;
}

.number {
	width: 50px;
}

.geo_info {
	width: 200px;
}

.create_head {
	color: #8aa372;
	font-size: 24pt;
}

.list {
	text-align: center;
}

ul {
	font-size: 10pt;
}

.map_inputs {
	text-align: center;
}

li {
	list-style-type: none;
	margin-left: 0;
}

a {
	text-decoration: none;
	color: #717870;
}

a.del {
	margin-left: 20px;
}

/* END Style of Create Form */
.content {
	width: 600px;
}
.avatar {
	float: left;
	margin: 0;
}

.info {
	float: right;
	margin: 0;
}

.field {
	float: right;
	margin-left: 60px;
	color: #645e59;
	font-size: 14pt;
}

p.title_profile {
	color: #a8a099;
	font-size: 24pt;
	margin-top: -20px;
}

p {
	color: #a8a099;
	font-size: 14pt;
}
/* END Style of Create Form */

footer {
	top: 10px;
	right: 10px;
	position: absolute;
	margin-right: 0px;
	text-align: right;
}

.create_footer {
	margin-left: 20px;
}

.map_desc {
	float: right;
	top: 0;
}

.info_desc {
	float: left;
}

.desc_title {
	color: #8c8b85;
	font-size: 24pt;
}

.desc_row {
	color: #8c8b85;
	font-size: 14pt;
}

.desc_row span {
	color: #31302e;
	float: right;
	margin-left: 15px;
	font-size: 12pt;
}


.ul_list_li {
    margin: 0;
    padding: 0;
    width: 100%;
}

.ul_list_li li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.ul_list_li li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.ul_list li {
	display: inline-block;
}

.search {
	top: 20px;
	text-align: center;
	width: 100%;
	background: blue;
}

.search_in {
	width: 300px;
	padding: 10px;
}

.category {
	top: 0;
	text-align: center;
	background: yellow;
	height: 20px;
	margin-top: 0;
}

.category ul {
	width: 100%;
	list-style-type: none;
	margin-top: 0;
}
.category ul.ul_list li {
	list-style-position: inside;
	padding: 0;
}

ul.ul_list_li {
	width: 100%;
	list-style-type: none;
	margin-top: 0;
	background: white;
}

.list_list {
	margin: 0;
}

.u_list {
	padding-left: 0;
}



.ul_list_li:hover {
	background: #d0ffff;
}
.ul_list_li td{
    border: none;
    margin: 0px;
}

table {
	margin-top: 130px;
}

td {
	padding: 15px;
}
